<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mint.general.items.mapper.ItemMapper">
	<!-- 메인 상품리스트 -->					
	<select id="getMainList" resultType="com.shop.mint.general.items.domain.ItemVO">
		SELECT 
			item_no, 
			item_image,
			item_name,
			item_price
		FROM
			items
		ORDER BY item_name DESC
	</select>
	
	<!-- 카테고리별 상품리스트 -->					
	<select id="getCateList" resultType="com.shop.mint.general.items.domain.ItemVO">
		SELECT 
			item_no, 
			item_image,
			item_name,
			item_price
		FROM
			items
		ORDER BY item_name DESC
	</select>
	
	<!-- 총 아이템 갯수 출력  -->
	<select id="countItems" resultType="int">
		SELECT COUNT(*) FROM items
	</select>
	
	<!-- 아이템 상세 -->					
	<select id="getItemDetail" resultType="com.shop.mint.general.items.domain.ItemVO">
		SELECT 
			item_no, 
			item_image,
			item_name,
			item_price, 
			item_sale_price, 
			item_content,
			item_category
		FROM
			items
		WHERE item_no = #{item_No}
	</select>

</mapper>