<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mint.general.items.mapper.ItemMapper">
	<!-- 상품리스트 -->					
	<select id="getMainList" resultType="com.shop.mint.general.items.domain.ItemVO">
		SELECT 
			item_no, 
			item_image,
			item_name,
			item_price
		FROM
			items
		ORDER BY item_name DESC
	</select>
	
	<!-- 상품리스트 -->					
	<select id="getCateList" resultType="com.shop.mint.general.items.domain.ItemVO">
		SELECT 
			item_no, 
			item_image,
			item_name,
			item_price
		FROM
			items
		ORDER BY item_name DESC
	</select>
	
	<!-- 상품리스트 -->					
	<select id="getItemDetail" resultType="com.shop.mint.general.items.domain.ItemVO">
		SELECT 
			item_no, 
			item_image,
			item_name,
			item_price, 
			item_sale_price, 
			item_content,
			item_category
		FROM
			items
		WHERE item_no = #{item_No}
	</select>

</mapper>