<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mint.general.auth.mapper.AuthMapper">

    <select id="findByUserId" parameterType="String" resultType="com.shop.mint.general.auth.domain.AuthVO" >
        SELECT
            user_no
            , user_id
            , user_pw
            , user_name
            , user_phone
            , user_email
            , user_address1
            , user_address2
            , user_regdate
            , user_delete_yn
            , user_email_yn
            , user_grade
            , role
        FROM
            user
        WHERE
            user_id = #{userId}
    </select>

    <!--<insert id="insertJoinUser" parameterType="com.shop.mint.general.auth.domain.AuthVO">
        INSERT INTO user(
            user_id
            , user_pw
            , user_name
            , user_phone
            , user_email
            , user_address1
            , user_address2
            , user_regdate
            , user_delete_yn
            , user_email_yn
            , user_grade
            , role
        ) VALUES (
            #{userId}
            , #{userPw}
            , #{userName}
            , #{userPhone}
            , #{userEmail}
            , #{userAddress1}
            , #{userAddress2}
            , now()
            , 'Y'
            , 'Y'
            , 'user'
            , #{role}
        )
    </insert>-->

    <!-- 아이디 중복 체크 -->
    <select id="findUserId" resultType="com.shop.mint.general.auth.domain.AuthVO" >
        SELECT
            count(*)
        FROM
            user
        WHERE
            user_id = #{userId}
    </select>

</mapper>