/* reset css */
@charset "UTF-8";

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html, body, textarea, input, :placeholder-shown {
    font-family: 'Noto Sans KR', 'Gothic A1', 'Noto Sans', sans-serif;
}
body {
    line-height: 1;
    overflow-x: hidden;
    -webkit-overflow-style: none;
    -ms-overflow-style: none;
    -moz-overflow-style: none;
    -o-overflow-style: none;
}
::-webkit-scrollbar { display: none; }
header, section, nav, aside, article, main, footer {
    display: block;
}
header::after, section::after, nav::after, aside::after, article::after, main::after, footer::after {
    content: "";
    display: block;
    clear: both;
}
ol, ul, li {
    list-style-type: none;
    list-style: none;
    text-decoration: none;
    color: #222;
}
blockquote, q {
    quotes: none;
}
blockquote::before, blockquote::after,
q::before, q::after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
    font-size: 16px;
    color: #222;
}
h1, h2, h3, h4, h5, h6, p, label, dd, dl, tr, td {
    color: #222;
}
tr, td {
    vertical-align: middle;
}
select {
    font-family: 'Noto Sans KR', 'Gothic A1', 'Noto Sans', sans-serif;
    border-radius:0; /* 아이폰 사파리 보더 없애기 */ 
    -webkit-appearance:none;
    -moz-appearance:none; /* 화살표 없애기 for firefox*/    
    background: url(../img/arrowDown.png) no-repeat 90% 50%;    
}
