.tns-outer {
    padding: 0 !important
}

.tns-outer [hidden] {
    display: none !important
}

.tns-outer [aria-controls], .tns-outer [data-action] {
    cursor: pointer
}

.tns-slider {
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    transition: all 0s
}

.tns-slider > .tns-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.tns-horizontal.tns-subpixel {
    white-space: nowrap
}

.tns-horizontal.tns-subpixel > .tns-item {
    display: inline-block;
    vertical-align: top;
    white-space: normal
}

.tns-horizontal.tns-no-subpixel:after {
    content: '';
    display: table;
    clear: both
}

.tns-horizontal.tns-no-subpixel > .tns-item {
    float: left
}

.tns-horizontal.tns-carousel.tns-no-subpixel > .tns-item {
    margin-right: -100%
}

.tns-no-calc {
    position: relative;
    left: 0
}

.tns-gallery {
    position: relative;
    left: 0;
    min-height: 1px
}

.tns-gallery > .tns-item {
    position: absolute;
    left: -100%;
    -webkit-transition: transform 0s, opacity 0s;
    -moz-transition: transform 0s, opacity 0s;
    transition: transform 0s, opacity 0s
}

.tns-gallery > .tns-slide-active {
    position: relative;
    left: auto !important
}

.tns-gallery > .tns-moving {
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s
}

.tns-autowidth {
    display: inline-block
}

.tns-lazy-img {
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    transition: opacity 0.6s;
    opacity: 0.6
}

.tns-lazy-img.tns-complete {
    opacity: 1
}

.tns-ah {
    -webkit-transition: height 0s;
    -moz-transition: height 0s;
    transition: height 0s
}

.tns-ovh {
    overflow: hidden
}

.tns-visually-hidden {
    position: absolute;
    left: -10000em
}

.tns-transparent {
    opacity: 0;
    visibility: hidden
}

.tns-fadeIn {
    opacity: 1;
    filter: alpha(opacity=100);
    z-index: 0
}

.tns-normal, .tns-fadeOut {
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: -1
}

.tns-vpfix {
    white-space: nowrap
}

.tns-vpfix > div, .tns-vpfix > li {
    display: inline-block
}

.tns-t-subp2 {
    margin: 0 auto;
    width: 310px;
    position: relative;
    height: 10px;
    overflow: hidden
}

.tns-t-ct {
    width: 2333.3333333%;
    width: -webkit-calc(100% * 70 / 3);
    width: -moz-calc(100% * 70 / 3);
    width: calc(100% * 70 / 3);
    position: absolute;
    right: 0
}

.tns-t-ct:after {
    content: '';
    display: table;
    clear: both
}

.tns-t-ct > div {
    width: 1.4285714%;
    width: -webkit-calc(100% / 70);
    width: -moz-calc(100% / 70);
    width: calc(100% / 70);
    height: 10px;
    float: left
}
.tns-controls > button {
    display: block;
    position: absolute;
    width:50px;
    height:50px;
    top:50%;
    transform:translateY(-50%);
    z-index: 1;
    text-align:center;
    background:rgba(0,0,0,.5);
    text-indent:-9999px;
}

.tns-controls > button[data-controls=prev] {
    left:0;
}

.tns-controls > button[data-controls=next] {
    right:0;
}
.tns-controls > button[data-controls=prev]::before, .tns-controls > button[data-controls=next]::before {
    content:'';
    display: block;
    position: absolute;
    width:10px;
    height:20px;
    top:50%;
    left:50%;
    background-position: center;
    background-color:transparent;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
}
.tns-controls > button[data-controls=prev]::before {
    background-image:url("../images/ic_arrow_prev_white.png");
}
.tns-controls > button[data-controls=next]::before {
    background-image:url("../images/ic_arrow_next_white.png");
}

@media screen and (max-width:768px) {
    .tns-controls > button {
        width:30px;
        height:30px;
        padding:0;
    }
    .tns-controls > button[data-controls=prev]::before, .tns-controls > button[data-controls=next]::before {
        width:6px;
        height:12px;
        background-size:100%;
    }
}

button[data-action=start]{
    display:none;
}
button[data-action=stop]{
    display:none;
}
.tns-nav{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.tns-nav > button{
    display: inline-block;
    background-color:#ccc;
    width:8px;
    height:8px;
    border-radius: 50%;
    box-sizing: border-box;
    padding:0;
    margin-right:10px;
}
.tns-nav > button:last-child{
    margin:0;
}
.tns-nav > button.tns-nav-active {
    background: #1d5d90;
}
@media screen and (max-width:768px) {
    .tns-nav{
        bottom:10px;
    }
}
/*# sourceMappingURL=sourcemaps/tiny-slider.css.map */
